<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="col-md-6 col-lg-offset-3">
        <div><h4>Weather forecast for {{name}}</h4></div>
        <table class="table table-hover">
            <thead><th>Date</th><th>Rain</th><th>min temp(F)</th><th>max temp(F)</th></thead>
        <tbody>
            <tr ng-repeat="w in weatherResult.list"><td>{{dateConvert(w.dt)}}</td><td>{{w.weather[0].description}}</td><td>{{convert(w.temp.min)}}</td><td>{{convert(w.temp.max)}}</td></tr>
        
    </tbody>    
</table>
        </div>
</body>
</html>
