<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="row">
            <div class="col-md-6 col-lg-offset-3">
                <div ><h4>Forecast By city</h4></div>
                <div class="row">
                    <input type="text" class="form-control col-md-6 " ng-model="name"/>
                </div>
                <br/>
                <div class="row">
                    <a href="#/forecast" class="btn btn-primary col-xs-12 col-sm-6 col-md-4 col-lg-12" >button</a>
                </div>
            </div>
        </div>
    </body>
</html>
